.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2= t('pcloud.device_cert.titles.edit')
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        = simple_form_for @device_cert, url: admin_pcloud_device_cert_url(@device_cert), method: :put, html: { multipart: true, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
          = f.input :serial, as: :display_text, input_wrapper_html: { class: 'col-sm-5' }
          = f.input :cert_file, as: :file, input_wrapper_html: { class: 'col-sm-3' }
          = f.input :description, as: :text, input_wrapper_html: { class: 'col-sm-5' }, input_html: { rows: 7 }
          .ln_solid
          .form-group
            .col-sm-6.col-xs-12.col-sm-offset-3
              = f.button :submit, t('common.labels.submit'), class: 'btn-success'
              = link_to t('common.labels.cancel'), admin_pcloud_device_certs_url, class: 'btn btn-default'
