- content_for :title, t('pcloud.device_cert.labels.management')

.row
  .col-md-12.col-sm-12.col-xs-12.toolbar
    .x_panel
      .x_title
        %h2= t('common.labels.toolbar')
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        = link_to new_admin_pcloud_device_cert_url, class: 'btn btn-app btn-sm' do
          = fa_icon('plus')
          = t('pcloud.device_cert.labels.new')
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2= t('pcloud.device_cert.titles.list')
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        %table.table.table-bordered.dt-responsive.nowrap
          %thead
            %tr
              %th= Pcloud::DeviceCert.human_attribute_name(:serial)
              %th= Pcloud::DeviceCert.human_attribute_name(:description)
              %th
          %tbody
            - @device_crts.each do |dc|
              %tr
                %td= dc.serial
                %td= dc.description
                %td
                  = link_to admin_pcloud_device_cert_url(dc), class: 'btn btn-primary btn-xs' do
                    = fa_icon('folder')
                    = t('common.labels.view')
