- content_for :title, t('push.app_group.labels.notification', app_group_name: @app_group.name)

.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_content
        = simple_form_for @notification, url: send_notification_admin_push_app_group_url, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
          / = f.input :app_ids, collection: [['a', 'aaa'], ['b', 'bbb']], input_html: { multiple: true }, input_wrapper_html: { class: 'col-sm-5' }
          = f.input :app_ids, collection: Push::Notification.select_options(@apps), input_html: { multiple: true }, input_wrapper_html: { class: 'col-sm-5' }
          = f.input :access_key_id, required: false, input_wrapper_html: { class: 'col-sm-9' } do
            %p.form-control-static
              = @access_key.access_key_id
          = f.hidden_field :access_key_id, value: @access_key.access_key_id
          = f.hidden_field :private_key, value: @private_key
          = f.input :email, collection: User.select_options, input_html: { multiple: true }, input_wrapper_html: { class: 'col-sm-5' }
          = f.input :title, input_wrapper_html: { class: 'col-sm-5' }
          = f.input :body, as: :text, input_wrapper_html: { class: 'col-sm-5' }, input_html: { rows: 7 }
          .ln_solid
          .form-group
            .col-sm-6.col-xs-12.col-sm-offset-3
              = f.button :submit, t('common.labels.submit'), class: 'btn-success'
              = link_to t('common.labels.cancel'), admin_push_app_group_url(@app_group), class: 'btn btn-default'