- content_for :title, t('push.app_group.labels.management')

.row
  .col-md-12.col-sm-12.col-xs-12.toolbar
    .x_panel
      .x_title
        %h2= t('common.labels.toolbar')
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        = link_to admin_push_app_groups_url, class: 'btn btn-app btn-sm' do
          = fa_icon('caret-square-o-left')
          = t('common.labels.back')
        = link_to edit_admin_push_app_group_url(@app_group), class: 'btn btn-app btn-sm' do
          = fa_icon('pencil')
          = t('common.labels.edit')
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2= t('push.app_group.titles.show')
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        .form-horizontal
          .form-group
            = label_tag :app_group, Push::AppGroup.human_attribute_name(:name), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @app_group.name
          .form-group
            = label_tag :app_group, Push::AppGroup.human_attribute_name(:description), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @app_group.description
          .form-group
            = label_tag :app_group, Push::AppGroup.human_attribute_name(:app_group_id), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @app_group.app_group_id
          .form-group
            = label_tag :app_group, Push::AppGroup.human_attribute_name(:topic_arn), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @app_group.topic_arn
          .form-group
            = label_tag :app_group, Push::AppGroup.human_attribute_name(:created_at), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @app_group.created_at
          .form-group
            = label_tag :app_group, Push::AppGroup.human_attribute_name(:updated_at), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @app_group.updated_at

  .col-md-12.col-sm-12.col-xs-12.toolbar
    .x_panel
      .x_title
        %h2= t('common.labels.toolbar')
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        = link_to new_admin_push_app_group_access_key_url(@app_group), class: 'btn btn-app btn-sm' do
          = fa_icon('plus')
          = t('push.app_group.access_key.labels.new')
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2= t('push.app_group.access_key.titles.index', app_group_name: @app_group.name)
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        / %table.table.table-bordered.dt-responsive.nowrap
        %table.table.table-bordered.nowrap
          %thead
            %tr
              %th= Push::AccessKey.human_attribute_name(:access_key_id)
              %th= Push::AccessKey.human_attribute_name(:status)
              %th= Push::AccessKey.human_attribute_name(:name)
              %th= Push::AccessKey.human_attribute_name(:description)
              %th= Push::AccessKey.human_attribute_name(:created_at)
              %th= Push::AccessKey.human_attribute_name(:updated_at)
              %th
          %tbody
            - @access_keys.each do |access_key|
              %tr
                %td= access_key.access_key_id
                %td= access_key.localized_status
                %td= access_key.name
                %td= access_key.description
                %td= access_key.created_at
                %td= access_key.updated_at
                %td
                  = link_to admin_push_app_group_access_key_url(@app_group, access_key), class: 'btn btn-primary btn-xs' do
                    = fa_icon('folder')
                    = t('common.labels.view')
                  = link_to download_admin_push_app_group_access_key_url(@app_group, access_key), class: 'btn btn-warning btn-xs' do
                    = fa_icon('download')
                    = t('common.labels.download')
