.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2= t('push.app_group.app.titles.new', app_group_name: @app_group.name)
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        = simple_form_for @app, url: admin_push_app_group_apps_url, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
          = f.hidden_field :app_group_id, value: @app_group.app_group_id
          = f.input :name, input_wrapper_html: { class: 'col-sm-3' }
          = f.input :platform, as: :select, collection: Push::App.platform_select_options, required: true, input_wrapper_html: { class: 'col-sm-3' }
          = f.input :description, as: :text, input_wrapper_html: { class: 'col-sm-5' }, input_html: { rows: 5 }
          .apns.hide
            = f.input :bundle_id, required: true, input_wrapper_html: { class: 'col-sm-3' }
            .form-group.file
              = label_tag :file, Push::App.human_attribute_name(:file), class: 'col-sm-3 control-label'
              .col-xs-12.col-sm-9
                = file_field_tag :file
            .form-group.password
              = label_tag :password, Push::App.human_attribute_name(:password), class: 'col-sm-3 control-label'
              .col-xs-12.col-sm-5
                .input-group
                  = password_field_tag :password, nil, class: 'form-control'
                  %span.input-group-btn
                    %button#loadCredentials.btn.btn-default{ type: 'button' }
                      = t('push.app_group.app.labels.load_credentials')
            = f.input :certificate, as: :text, required: true, input_wrapper_html: { class: 'col-sm-5' }, input_html: { rows: 5 }
            = f.input :privateKey, as: :text, required: true, input_wrapper_html: { class: 'col-sm-5' }, input_html: { rows: 5 }
          .gcm.hide
            = f.input :package_name, required: true, input_wrapper_html: { class: 'col-sm-3' }
            = f.input :api_key, required: true, input_wrapper_html: { class: 'col-sm-5' }
          .ln_solid
          .form-group
            .col-sm-6.col-xs-12.col-sm-offset-3
              = f.button :submit, t('common.labels.submit'), class: 'btn-success'
              = link_to t('common.labels.cancel'), admin_push_app_group_apps_url(@app_group), class: 'btn btn-default'
