- content_for :title, t('log.labels.record')

.row
  - if can? :download_csv, Log
    .col-md-12.col-sm-12.col-xs-12.toolbar
      .x_panel
        .x_title
          %h2= t('common.labels.toolbar')
          %ul.nav.navbar-right.panel_toolbox
            %li
              %a.collapse-link= fa_icon('chevron-up')
          .clearfix
        .x_content
          = link_to download_admin_logs_url, class: 'btn btn-app btn-sm' do
            = fa_icon('download')
            = t('log.labels.download_csv')
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2= t('log.titles.index')
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        %table.table.table-bordered.dt-responsive.nowrap
          %thead
            %tr
              %th= Log.human_attribute_name(:source_type)
              %th= Log.human_attribute_name(:source_ip)
              %th.restrict= Log.human_attribute_name(:target_type)
              %th= Log.human_attribute_name(:event)
              %th= Log.human_attribute_name(:created_at)

          %tbody
            - @logs.each do |log|
              %tr
                %td= log.source.email
                %td= log.source_ip
                %td.break_line
                  %pre.clear_border= log.target.try(:email) || (log.extra.present? ? JSON.pretty_generate(log.extra) : nil)
                %td= log.localized_event
                %td= log.created_at
