#sidebar-menu.main_menu_side.hidden-print.main_menu
  .menu_section
    %ul.nav.side-menu

      - if can? :read, :pcloud_management
        = sidebar_menu_item controller: ['admin/pcloud/users'] do
          = link_to '#' do
            = fa_icon('cog')
            %label= Group.human_attribute_name('name.pcloud_management')
            %span.fa.fa-chevron-down
          %ul.nav.child_menu
            = sidebar_child_menu_item controller: 'admin/pcloud/users', action: :revoke do
              = link_to admin_pcloud_user_revoke_url do
                %span= t('pcloud.user.titles.revoke')
            = sidebar_child_menu_item controller: 'admin/pcloud/device_certs', action: :index do
              = link_to admin_pcloud_device_certs_url do
                %span= t('pcloud.device_cert.titles.index')

      - if can? :read, :push_management
        = sidebar_menu_item controller: ['admin/push/app_groups', 'admin/push/app_groups/access_keys', 'admin/push/app_groups/apps'] do
          = link_to '#' do
            = fa_icon('commenting-o')
            %label= Group.human_attribute_name('name.push_management')
            %span.fa.fa-chevron-down
          %ul.nav.child_menu
            - if !@app_group
              = sidebar_child_menu_item controller: 'admin/push/app_groups', action: :index do
                = link_to admin_push_app_groups_url do
                  %span= t('push.app_group.titles.index')
            - elsif @app_group && !@app_group.new_record?
              = sidebar_menu_item controller: ['admin/push/app_groups', 'admin/push/app_groups/access_keys', 'admin/push/app_groups/apps'] do
                = link_to admin_push_app_groups_url do
                  = t('push.app_group.titles.index')
                %ul.nav.child_menu
                  = sidebar_child_menu_item controller: 'admin/push/app_groups/apps', action: :index do
                    = link_to admin_push_app_group_apps_url(@app_group) do
                      %span= t('push.app_group.app.titles.list')
                  = sidebar_child_menu_item controller: 'admin/push/app_groups', action: :notification do
                    = link_to notification_admin_push_app_group_url(@app_group) do
                      %span= t('push.app_group.titles.notification')

      - if can? :read, User
        = sidebar_menu_item controller: ['admin/users', 'users/creations', 'admin/logs'] do
          = link_to '#' do
            = fa_icon('cog')
            %label= Group.human_attribute_name('name.system_management')
            %span.fa.fa-chevron-down
          %ul.nav.child_menu
            = sidebar_child_menu_item controller: ['admin/users', 'users/creations'], action: [:index, :new] do
              = link_to admin_users_url do
                %span= t('user.titles.index')
            - if can? :read, Log
              = sidebar_child_menu_item controller: 'admin/logs', action: :index do
                = link_to admin_logs_url do
                  %span= t('log.labels.record')
