#sidebar-menu.main_menu_side.hidden-print.main_menu
  .menu_section
    %ul.nav.side-menu

      - if can? :read, User
        = sidebar_menu_item controller: ['admin/users', 'users/creations', 'admin/logs'] do
          = link_to '#' do
            = fa_icon('cog')
            %label= Group.human_attribute_name('name.system_management')
            %span.fa.fa-chevron-down
          %ul.nav.child_menu
            = sidebar_child_menu_item controller: ['admin/users', 'users/creations'], action: [:index, :new] do
              = link_to admin_users_url do
                = fa_icon('users')
                %span= t('user.titles.index')
            = sidebar_child_menu_item controller: 'admin/logs', action: :index do
              = link_to admin_logs_url do
                = fa_icon('pencil-square-o')
                %span= t('log.labels.record')
