- content_for :title, t('user.labels.management')

.row
  .col-md-12.col-sm-12.col-xs-12.toolbar
    .x_panel
      .x_title
        %h2= t('common.labels.toolbar')
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        = link_to admin_app_groups_url, class: 'btn btn-app btn-sm' do
          = fa_icon('caret-square-o-left')
          = t('common.labels.back')
        = link_to edit_admin_app_group_url(@data["app_group_id"]), class: 'btn btn-app btn-sm' do
          = fa_icon('pencil')
          = t('common.labels.edit')
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2= t('user.titles.show')
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        .form-horizontal
          .form-group
            = label_tag :app_group, AppGroup.human_attribute_name(:name), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @data["name"]
          .form-group
            = label_tag :app_group, AppGroup.human_attribute_name(:description), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @data["description"]
          .form-group
            = label_tag :app_group, AppGroup.human_attribute_name(:app_group_id), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @data["app_group_id"]
          .form-group
            = label_tag :app_group, AppGroup.human_attribute_name(:topic_arn), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @data["topic_arn"]
          .form-group
            = label_tag :app_group, AppGroup.human_attribute_name(:created_at), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @data["created_at"]
          .form-group
            = label_tag :app_group, AppGroup.human_attribute_name(:updated_at), class: 'control-label col-sm-2 col-xs-12'
            .col-sm-10.col-xs-12
              %p.form-control-static
                = @data["updated_at"]

  .col-md-12.col-sm-12.col-xs-12.toolbar
    .x_panel
      .x_title
        %h2= t('common.labels.toolbar')
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        = link_to admin_app_groups_url, class: 'btn btn-app btn-sm' do
          = fa_icon('plus')
          = '新增 APP Group Key'