.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2= t('push.template.titles.new')
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link= fa_icon('chevron-up')
        .clearfix
      .x_content
        = simple_form_for @template, url: admin_push_templates_url, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
          = f.input :identity, input_wrapper_html: { class: 'col-sm-3' }
          = f.input :title_en, input_wrapper_html: { class: 'col-sm-5' }, input_html: { rows: 7 }, placeholder: t('pcloud.sso_app.titles.redirect_uri_rule')
          = f.input :content_en, as: :text, input_wrapper_html: { class: 'col-sm-5' }, input_html: { rows: 7 }, placeholder: t('pcloud.sso_app.titles.redirect_uri_rule')
          = f.input :'title_zh-TW', input_wrapper_html: { class: 'col-sm-5' }, input_html: { rows: 7 }, placeholder: t('pcloud.sso_app.titles.redirect_uri_rule')
          = f.input :'content_zh-TW', as: :text, input_wrapper_html: { class: 'col-sm-5' }, input_html: { rows: 7 }, placeholder: t('pcloud.sso_app.titles.redirect_uri_rule')
          .ln_solid
          .form-group
            .col-sm-6.col-xs-12.col-sm-offset-3
              = f.button :submit, t('common.labels.submit'), class: 'btn-success'
              = link_to t('common.labels.cancel'), admin_pcloud_sso_apps_url, class: 'btn btn-default'
